@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif+Display&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('../fonts/idroid.otf');
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-padrao: Arial, Verdana, sans-serif;
    --fonte-android: 'idroid', cursive;
    --fonte-destaque: 'Bebas Neue', cursive;

    --cor1: #3DD382;
    --cor2: #325442;
    --cor3: #2FA164;
    --cor4: #81DBAB;
    --cor5: #185434;
}

body{
    background-color: white;
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor1));
    padding: 10px;
}

header h1{
    text-align: center;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    color: white;
    font-size: 2.6em;
    padding-top: 15px;
}

header p{
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

header nav > a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
    padding: 10px;
    font-weight: bold;
}

header nav > a:hover{
    text-decoration: underline;
    color: black;
    font-weight: bold;
    background-color: var(--cor2);
    border-radius: 5px;
}

main{
    min-width: 350px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

main h2, h3{
    font-family: var(--fonte-android);
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

main p{
    text-align: justify;
    font-size: 1.25em;
    font-family: var(--fonte-padrao);
    text-indent: 25px;
}

main img{
    display: block;
    margin: auto;
    width: 100%;
}

img.bugdroid{
    max-width: 350px;
}

strong.externo{
    background-color: #2FA164;
}

strong.externo > a{
    text-decoration: none;
    color: white;
}

strong.externo > a:hover{
    text-decoration: underline;
}

strong.externo > a::after{
    content: '\1F517';
}

div.video{
    margin: 0px -10px 0px -10px;
    position: relative;
    background-color: white;
    padding-bottom: 40%;
}

div.video > iframe{
    display: block;
    margin: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

aside{
    background-color: var(--cor1);
    margin: 0px -10px 0px -10px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

aside h3{
    background-color: var(--cor2);
    margin: -10px -10px 0px -10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

aside ul{
    list-style-position: inside;
    columns: 2;
    font-size: 1.25em;
    color: white;
    font-weight: bold;
}

footer{
    background-color: #325442;
    padding: 10px;
    text-align: center;
    color: white;
}

footer a{
    text-decoration: underline;
    color: white;
    font-weight: bold;
}
